/*Background color for icons*/
:root {
  --main-txt-color: white;
  --main-padding: 10px;
}
.Header {
  display: flex;
  padding: var(--main-padding);
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #1565c0;
  width: 100%;
}
.Header_Icons {
  display: flex;
  justify-content: center;
  padding-right: 3px;
  padding-left: 3px;
  align-items: center;
}
.Header__Logo {
  height: 25px;
  object-fit: contain; /*need an svg for egm logo*/
  margin-left: 10px;
  background: none;
}
.Header_Search {
  display: flex;
  align-items: center;
}
.Header_ReportIcons {
  display: flex;
  align-items: center;
  margin-left: 15px;
  color: var(--main-txt-color);
}
.Header_MenuIcon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Header_MenuIcon:hover {
  cursor: pointer;
}
.Header_Search > input {
  border: none;
  flex: 1;
  height: 22px;
}
.Header_InputButton {
  width: 50px !important;
  background-color: #fafafa;
  border-left: 1px solid white;
  color: var(--main-txt-color);
  color: gray;
}
.Header_InputButton:hover {
  cursor: pointer;
}
.Header_IconsColor {
  color: var(--main-txt-color);
  margin-right: 8px;
  padding: 2px;
}
.Header_Report {
  flex: 1;
  margin-left: 5px;
  font-size: 20px;
  font-weight: 500;
}
.Header_Icons:hover {
  cursor: pointer;
}
