.SideBarRow {
  display: flex;
  align-items: center;
  flex: 0.2;
  margin-left: 2px;
}
.SideBarRow_Title {
  flex: 1;
  margin-left: 15px;
  font-size: 16px;
  font-weight: 500;
}
.SideBarRow:hover {
  background-color: lightgray;
  cursor: pointer;
}
.SideBar_Icon {
  color: #606060;
  font-size: large !important;
}
.SideBarRow_Icon:hover > {
  color: #1565c0;
}
.SideBarRow:hover > .SideBarRow_Icon {
  color: #1565c0;
}

.SideBarRow:hover > .SideBarRow_Title {
  font-weight: bold;
  font-size: 20px;
}
.SideBarRow.selected {
  background-color: lightgray;
}
.SideBarRow.selected > .SideBarRow_Title {
  font-weight: bold;
}
.SideBarRow.selected > .SideBarRow_Icon {
  color: #1565c0;
}
.SideBarRow > hr {
  height: 5px;
  border: 0px;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}
