.MainPageCards {
  width: 18px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.MainPageCards_Title {
  display: "flex";
  align-items: "center";
  font-size: 20px;
  font-weight: 500;
  object-fit: contain;
}
.MainPageCards_Text {
  font-size: 14px;
  font-weight: 500;
}
